
.file input{
	width: 100%;
	border-radius: 5px;
}

.file:hover{
	border: 0;
}

.buttons input{
	cursor: pointer;
	margin-top:15px;
	width: 15%;
	margin-bottom: 5%;
	margin-right: 2%;
	border: 1px solid #D3D3D3;
	background-color: #D3D3D3;
	border-radius: 5px;
}

.buttons input:hover{
	border:1px solid #000000;
}
	
table{
	width: 100%;
	border-spacing:	5px;
	background-color: #D3D3D3;
	padding-right: 15px;
	padding-left: 10px;
	border-radius: 5px;
}

td select{
	margin-top: -5px;
	margin-bottom: 5px;
	border-radius: 5px;
}

td input{
	width: 90%;
	margin-top: -5px;
	margin-bottom: 5px;
	border-radius: 5px;
}
select{
	height: 30px;
	cursor: pointer;
	border-radius: 5px;
}
select: hover{
	border:1px ridge #000000;
	
}
	

	